@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        margin: 0;
        min-height: 100vh;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
    }

    #root {
        @apply bg-neutral-100 min-h-screen;
    }

    button,
    .button {
        @apply flex gap-2 items-center px-4 py-2 border border-neutral-300 bg-neutral-100 hover:bg-neutral-200 active:bg-neutral-300 transition text-sm font-medium rounded-md disabled:opacity-50 disabled:cursor-default select-none cursor-pointer;
    }

    .action-button {
        @apply px-4 text-xs font-normal h-max;
    }

    *:focus-visible {
        @apply outline-2 outline-blue-500;
    }

    select:focus-visible {
        box-shadow: 0 0 0 2px;
        @apply shadow-blue-500;
    }

    label {
        @apply select-none;
    }

    input,
    .input {
        @apply px-4 py-2 bg-white text-sm rounded-md border border-neutral-300 disabled:bg-transparent disabled:text-neutral-500 accent-blue-500;
    }

    [contenteditable='true'] {
        @apply px-4 py-2 bg-white text-sm rounded-b-md border border-t-0 border-neutral-300 prose prose-neutral max-w-none;
        :first-child {
            @apply mt-0;
        }
        :last-child {
            @apply mb-0;
        }
    }

    .rich-toolbar {
        @apply !rounded-t-md !rounded-b-none !bg-neutral-100 border border-neutral-300;
    }

    .rich-toolbar button[role="combobox"] {
        @apply bg-neutral-100 hover:bg-neutral-200 h-7;
    }

    .rich-toolbar button[role="combobox"] span:first-child {
        @apply !text-black text-xs;
    }

    .rich-toolbar button:not([role="combobox"]) {
        @apply size-7 cursor-pointer;
    }

    .rich-toolbar button span {
        @apply flex justify-center;
    }

    .rich-toolbar button span svg {
        @apply size-5;
    }

    select {
        @apply px-4 py-2 text-sm rounded-md outline outline-1 outline-neutral-300 focus-within:shadow-sm border-r-[1rem] border-transparent;
    }

    .grid-header {
        @apply grid grid-cols-[auto] rounded-t-md bg-neutral-100 select-none border border-neutral-300;
    }

    .grid-header span {
        @apply px-4 py-2 text-xs font-medium;
    }

    .grid-row {
        @apply grid grid-cols-[auto,max-content] bg-white hover:bg-neutral-200 transition border border-t-0 first:border-t border-x-neutral-300 border-y-neutral-200 first:border-t-neutral-300 last:border-b-neutral-300 first:rounded-t-md last:rounded-b-md items-center cursor-pointer;
    }
}
